/**
Synapse - adaptive theme
.col-xs- <544px Extra small
.col-sm- ≥544px Small
.col-md- ≥768px Medium
.col-lg- ≥992px Large
.col-xl- ≥1200px Extra large
Gutter width	1.875rem / 30px (15px on each side of a column)
*/


/** Header */

header {
    background: #f3f3f3;
}

/** Menu */

.nav a {
    text-decoration: none;
    color: #6f6f6f;
}
#header-onepage {
    padding: 9px 0 3px;
}
#header-full .nav-inline li {
    display: inline-block;
}
#header-full nav li {
    padding: 0 15px;
}
#header-full nav {
    padding-top: 23px;
    padding-left: 25px;
}
#small-menu {
    text-align: center;
    padding: 0;
    clear: both;
    border-top: #777 solid 1px;
}
.small-menu__inner {
    padding: 10px 0;
}
#small-menu a {
    padding: 8px 15px 8px;
    display: block;
}
#small-menu .active a {
    color: #000;
}

/** On Scroll */

.appear-onscroll {
    top: -56px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.6s;
}
@media (max-width: 992px) {
    .appear-onscroll {
        top: 0px;
        opacity: 1;
        max-height: none;
    }
    #top {
        margin-top: 56px;
        display: block;
    }
}

/** Small */

#header-info {
    border-bottom: #777 solid 1px;
}
.header-info__inner {
    padding: 10px 0;
}
#header-small {}
.header-small__inner {
    padding: 5px 0 0;
}
#header-small .logo-small img {
    height: 41px;
    margin-bottom: 5px;
}

/** Full  */

#header-full {
    padding: 8px 3px 2px;
}
#header-full .phone {
    padding-top: 12px;
    display: inline-block;
}
#header-full .logo img {
    height: 41px;
    margin-bottom: 5px;
}

/** Toggler */

.nav-togglers {
    padding-top: 0px;
}
.nav-toggler {
    position: relative;
    width: 44px;
    height: 40px;
    padding: 0;
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid #0188ca;
    margin-left: 6px;
    color: #0188ca;
    background: none;
}
.nav-toggler:focus {
    outline: none;
}
.nav-toggler.collapsed {
    color: #444;
    border-color: #666;
}
.nav-toggler .icon-bar+.icon-bar {
    margin-top: 0;
}
.nav-toggler .icon-bar {
    position: absolute;
    height: 3px;
    transition: all 0.5s;
    background-color: #0188ca;
    display: block;
    border-radius: 1px;
}
.nav-toggler.collapsed .icon-bar {
    background-color: #666;
}
.nav-toggler .icon-bar-top {
    transform: rotate(-45deg);
}
.nav-toggler .icon-bar-bottom {
    transform: rotate(45deg);
}

/** Menu */

.nav-menu {}
.nav-menu .icon-bar {
    left: 5px;
    top: 17px;
    width: 30px;
}
.nav-menu .icon-bar-middle {
    opacity: 0;
    left: -30px;
    top: 17px;
}
.nav-menu.collapsed .icon-bar-middle {
    opacity: 1;
    left: 5px;
}
.nav-menu.collapsed .icon-bar-top {
    transform: rotate(0);
    top: 8px;
}
.nav-menu.collapsed .icon-bar-bottom {
    transform: rotate(0);
    top: 26px;
}

/** Info */

.nav-info {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
}
.nav-info.collapsed {
    width: 41px;
}
.nav-info .icon-bar {
    left: 3px;
    top: 17px;
    width: 30px;
}
.nav-info.collapsed .icon-bar-top {
    transform: rotate(90deg);
    top: 8px;
    width: 3px;
    left: 17px;
}
.nav-info.collapsed .icon-bar-bottom {
    transform: rotate(90deg);
    top: 20px;
    width: 15px;
    left: 11px;
}
#main-menu {}
#main-menu .classic-menu-dropdown {
    position: relative;
}
#main-menu .classic-menu-dropdown ul {
    left: 0/*rtl:auto*/;
    min-width: 175px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 10px 5px;
    background-color: #ffffff;
    margin: 0;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#main-menu .classic-menu-dropdown ul li {
    line-height: 1.5em;
}
#main-menu .classic-menu-dropdown:hover ul {
    display: block;
    position: absolute;
}
