/**
Synapse - adaptive theme
.col-xs- <544px Extra small
.col-sm- ≥544px Small
.col-md- ≥768px Medium
.col-lg- ≥992px Large
.col-xl- ≥1200px Extra large
Gutter width	1.875rem / 30px (15px on each side of a column)
*/


/** editor */

span.file {
    height: auto;
}
.form-type-radio .description,
.form-type-checkbox .description {
    margin-left: 0;
}
.details-wrapper .form-control {
    display: inline;
    width: auto;
}
a.tabledrag-handle .handle {
    height: 22px;
    width: 22px;
}
td.checkbox,
th.checkbox {
    position: static;
    margin: 0;
    display: table-cell;
}
#edit-body-0-format {
    display: none;
}

/** Form-inline fix select */

.form--inline .form-item select {
    padding: .485rem .75rem;
}

/** Fix admin menu*/

@media (max-width: 980px) {
    #toolbar-administration {
        display: none !important;
    }
    html body.toolbar-tray-open {
        margin-top: 0 !important;
        margin-left: 0 !important;
        padding-top: 0 !important;
        padding-left: 0 !important;
    }
}

/********* Navigation ***********/

@media (max-width: 600px) {
    #manager-menu {
        display: none !important;
    }
}
#manager-menu {
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px 0 #ccc;
    padding: 20px;
    cursor: move;
    z-index: 2;
    background: #fff;
    max-width: 205px;
}
#manager-menu .toggle-manager {
    position: relative;
    z-index: 3;
    max-width: 17px;
    cursor: pointer;
}
#manager-menu h2 {
    margin-bottom: 10px;
    margin-top: -23px;
    margin-left: 25px;
    font-size: 25px;
    line-height: 25px;
}

/*** Images */


/** Редактирование изображений */

form.node-image-form {}
form.node-image-form .image-preview {
    float: left;
    padding-right: 15px;
}
form.node-image-form .image-widget-data {
    overflow: hidden;
    padding-bottom: 2px;
}
form.node-image-form .image-widget-data .form-type-textfield {
    margin-top: 0;
}
form.node-usluga-edit-form {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
